<% @page_title = "Register"%>

<div class="row padding-50">
	<div class="col-md-12">
		<div class="col-md-offset-3 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading ">
					<h3 class="panel-title">
						<i class="fa fa-user-plus"></i> Register 
						<%= link_to(raw('<i class="fa fa-home pull-right"></i>'), root_url) %>
					</h3>
				</div>
				<div class="panel-body">
					
					<%= form_for(:user, url:{action: 'sign_up'}, html: {class: 'form-horizontal'}) do |f| %>

						<div class="form-group <%= @user.errors[:first_name].any? ? 'has-error': '' %>">
							<h5 class="col-sm-offset-1 col-sm-11">First Name: </h5>
							<div class="col-sm-offset-1 col-sm-10">
								<%= f.text_field(:first_name, class: 'form-control', placeholder: 'First Name') %>
								
								<% if @user.errors[:first_name].any?%>
									<span class="help-block text-danger">
										First Name <%= @user.errors.messages[:first_name].first %>
									</span>
								<% end %>
							</div>
						</div>

						<div class="form-group <%= @user.errors[:last_name].any? ? 'has-error': '' %>">
							<h5 class="col-sm-offset-1 col-sm-11">Last Name: </h5>
							<div class="col-sm-offset-1 col-sm-10">
								<%= f.text_field(:last_name, class: 'form-control', placeholder: 'Last Name') %>

								<% if @user.errors[:last_name].any?%>
									<span class="help-block text-danger">
										Last Name <%= @user.errors.messages[:last_name].first %>
									</span>
								<% end %>
							</div>
						</div>
						
						<div class="form-group <%= @user.errors[:email].any? ? 'has-error': '' %>">
							<h5 class="col-sm-offset-1 col-sm-11">Email: </h5>
						    <div class="col-sm-offset-1 col-sm-10">
						    	<%= f.text_field(:email, class: 'form-control', placeholder: 'Email') %>

						    	<% if @user.errors[:email].any?%>
									<span class="help-block text-danger">
										Email <%= @user.errors.messages[:email].first %>
									</span>
								<% end %>
						    </div>
					  	</div>
					  	
					  	<div class="form-group <%= @user.errors[:password].any? ? 'has-error': '' %>">
					  		<h5 class="col-sm-offset-1 col-sm-11">Password: </h5>  
						    <div class="col-sm-offset-1 col-sm-10">
						    	<%= f.password_field(:password, class: 'form-control', placeholder: 'Password') %>

						    	<% if @user.errors[:password].any?%>
									<span class="help-block text-danger">
										Password <%= @user.errors.messages[:password].first %>
									</span>
								<% end %>
						    </div>
					  	</div>
					  	
					  	<div class="form-group">
						    <div class="col-sm-offset-1 col-sm-10">
						      <%= submit_tag('Sign In', class: 'btn btn-primary btn-block') %>
						    </div>
					  	</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>