<% @page_title = "Login"%>

<div class="row padding-50">
	<div class="col-md-12">
		<div class="col-md-offset-3 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading ">
					<h3 class="panel-title">
						<i class="fa fa-sign-in"></i> Login
						<%= link_to(raw('<i class="fa fa-home pull-right"></i>'), root_url) %>
					</h3>
				</div>
				<div class="panel-body no-top-padding">
					
					<%= form_tag({:controller => 'authenticate', :action => 'sign_in'}, {:class => 'form-horizontal'}) do %>

						
						<div class="form-group">
							<h5 class="col-sm-offset-1 col-sm-11">Email</h5>
							<div class="col-sm-offset-1 col-sm-10">
								<%= email_field_tag('email', nil, class: 'form-control', placeholder: 'Enter Email')%>
							</div>
							<div class="col-sm-1"></div>
						</div>

						<div class="form-group">
							<h5 class="col-sm-offset-1 col-sm-11">Password</h5>
							<div class="col-sm-offset-1 col-sm-10">
								<%= password_field_tag('password', nil, class: 'form-control', placeholder: 'Enter Password') %>
							</div>
							<div class="col-sm-1"></div>
						</div>

						<div class="form-group">
						    <div class="col-sm-offset-1 col-sm-10">
						      <%= submit_tag('Sign In', class: 'btn btn-primary btn-block') %>
						    </div>
					  	</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>