.white-background{
	background-color: white !important;
}

.no-padding{
	padding: 0 !important;
}

.no-top-padding{
	padding-top: 0 !important;
}

.no-bottom-padding{
	padding-bottom: 0 !important;
}

.padding-5{
	padding: 5px !important;
}

.padding-10{
	padding: 10px !important;
}

.padding-20{
	padding: 20px !important;
}

.padding-25{
	padding: 25px !important;
}

.padding-50{
	padding: 50px !important;
}

.padding-top-5{
	padding-top: 5px !important;
}

.padding-top-10{
	padding-top: 10px !important;
}

.padding-top-20{
	padding-top: 20px !important;
}

.padding-top-50{
	padding-top: 50px !important;
}