<!DOCTYPE html>
<html>
<head>
  <title>QuizCms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<!-- include application navbar partial  -->
	<%= render(:partial => 'layouts/navbar') %>

    <!-- Begin page content -->
    <div class="container">
      <%= yield %>
    </div>

    <!-- include application footer partial -->
    <%= render(:partial => 'layouts/footer') %>
</body>
</html>
