<!DOCTYPE html>
<html>
<head>
  <title>Quiz CMS <%= "| #{@page_title}" if @page_title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if !flash[:notice].blank?%>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <%= flash[:notice]%>
        </div>
      </div>
    </div>
	<% end %>

	<!-- Begin page content -->
    <div class="container">
      <%= yield %>
    </div>

</body>
</html>
